body {
    background-color: grey;
}

/* Framework Layout */
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


#scoreboard {

}
#gameboard {

}
canvas {
}
header {
    margin: auto;
}
footer {
    height: 25px;
    margin: auto;
    padding: 1%;
    border-top: 1px solid rgba(255, 255, 255, 0.45);

}

a {
    text-decoration: none;
    font-weight: 300;
    outline: 0;
    cursor: pointer;
}

ul {
    display: inline;
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
    list-style: none;
}

li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
    display: inline;
}
.title {
    margin: 10px auto 0 auto;
}
.author {
    width: 100%;
    margin: auto;
}

.center {
    margin: auto;
}
.sprite {
    margin: 0 0.2em;
    background: url('../images/sprite.png') no-repeat transparent;
    background-size: auto 20px;
    display: inline-block;
    position: relative;
    text-indent: -9999px;
}
.sprite.github {
    width: 22px;
    height: 22px;
    background-position: -41px -0px;
}
.sprite.linkedin {
    width: 22px;
    height: 22px;
    background-position: -20px -0px;
}